<div class="row">
  <aside class="col-md-4">
    <%= for user <- @users do %>
    <section>
      <%= render "user.html", user: user, conn: @conn %>
      <%= link "Show", to: user_path(@conn, :show, user), class: "btn btn-default btn-xs" %>
      <%= link "Edit", to: user_path(@conn, :edit, user), class: "btn btn-default btn-xs" %>
    </section>
    <% end %>
  </aside>
</div>